*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

.container {
	background: #3DDC97;
	height: auto;


}
.mainTitle {
	text-align: center;
	color: red;
	font-size: 40px;
	padding-top: 50px;
	margin-bottom: 30px;

}
.form {
	display: flex;
	justify-content: center;
	/*border: 1px solid black;*/

	height: 50%;
}
.form-group {
	font-size: 40px;
	border-radius: 10px;
	border: 4px solid black;
	background: #ffa500;
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 100%;
	align-items: center;
	padding-bottom: 30px;
	padding-top: 30px;
	margin-bottom: 30px;
}
.form-title {
	text-align: center;
}
.form-login {
	/*border-radius: 5px;
	border: 1px solid blue;*/

}
.form-control {
	height: 100%;
	width: 100%;
	border: 1px solid blue;
	border-radius: 5px;

}
.form-pass {
	/*font-size: 30px;*/
/*	border-radius: 5px;
	border: 1px solid blue;*/
}
.button {
	height: 15%;
	width: 27%;
}
.btn-control {
		height: 100%;
	width: 100%;
	border: 1px solid blue;
	border-radius: 5px;
}

.decorations {
	margin-top: 30px;
	padding-bottom: 30px;;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.star1{
  animation: spin-right 5s linear 0s infinite;
}
.star2 {animation: spin-left 5s linear 0s infinite;}
@keyframes spin-right{
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
@keyframes spin-left {
    from {transform:rotate(360deg);}
    to {transform:rotate(0deg);}
}
.create_account {
	font-size: 30px;
	text-align: center;
}