<!DOCTYPE html>
<html>
<head>
	<title>Registration</title>
	<link rel="stylesheet" type="text/css" href="../static/css/style_signup.css">
	<meta http-equiv="Content-type" content="text/html;charset=utf-8"/>
</head>
<body>
<div class="container">
<div class="mainTitle">
	Hi, Guest!
</div>
<div class="form">
	<form class="form-group" role="form" action="/secret" method="post">
		<div class="form-title">
			Registration 
		</div>
		<div class="form-login">
			<input type="text" class="form-control" name="login" placeholder="Input name" required="">
		</div>
		<div class="form-pass">
			<input type="password" class="form-control" name="Input password" placeholder="Input password" required="">
		</div>
		<div class="form-email">
			<input type="text" class="form-control" name="Input email" placeholder="Input email" required="">
		</div>
		<div class="button">
		<button type="submit" class="btn-control">Enter!</button>
		</div>
	</form>
</div>

	<div class="decorations">
		<div class="star1">
			<img src="../static/img/Star.svg" alt="">
		</div>
		<div class="star2">
			<img src="../static/img/Star.svg" alt="">
		</div>
	</div>
</div>
</body>
</html>